.pure-g
  .pure-u-1-1
    .front_description KEHON TUNTEMISESTA LIIKKEESEEN
- @sets.in_groups_of(2).each do |set|
  .pure-g
    - set.each do |i|
      - next if i.nil?
      .pure-u-1-1.pure-u-md-1-2.front_image_wrapper
        = link_to "/step/#{i.imageset.slug}" do
          .front_image{style: "background-image: url(#{i.file.url(:medium)});" }
            .cover

              .set_title= i.imageset.title 
              .set_description= i.imageset.description
