!!!
%head
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  = stylesheet_link_tag 'pure-min', 'grids-responsive-min'
  = stylesheet_link_tag 'attitudeks'
  %link{:href => "/images/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
  %link{:href => "/images/favicon.ico", :rel => "icon", :type => "image/x-icon"}/

  %title AttitudeKS
  
%body
  %header
    %nav
      %ul
        %li.title= link_to 'ATTITUDE KS', '/'
        %li= link_to 'Attitude', '/lehti/kehon-tuntemisesta-liikkeeseen'
        %li= link_to 'Tunnit', '/lehti/kalenteri'
        %li= link_to 'Blogi', '/blogi'
        %li= link_to 'Yhteystiedot', '/lehti/kontakti'
        
  %section.content
    %article= yield

  %footer
    %p 
      2015 Kristina Sanaksenaho
      &sdot;
      = link_to 'Facebook', 'https://www.facebook.com/pages/Attitude-KS/347871301930990', target: :_blank
    %p
      %small kuvat: Mia Pajunen
      