!!!
%head
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  = stylesheet_link_tag 'pure-min', 'grids-responsive-min'
  = stylesheet_link_tag 'attitudeks'

  %title AttitudeKS
  
%body
  %header
    %nav
      %ul
        %li.title= link_to 'ATTITUDEKS', '/'
        %li= link_to 'Attitude', '/lehti/kehon-tuntemisesta-liikkeeseen'
        %li= link_to 'Tunnit', '/lehti/kalenteri'
        %li= link_to 'Blogi', '/blogi'
        %li= link_to 'Yhteystiedot', '/lehti/kontakti'
        
  %section.content
    %article= yield

  %footer
    %p 2015 Kristina Sanaksenaho